.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #f1f2f7;
    padding: 0px 20px 20px 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.sidebar-header {
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px; /* Add padding at the bottom */
    top: 0;
    background-color: #f1f2f7;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    border-bottom: 1px solid #ccc;
    width: 100%; /* Ensure it takes up the full width of the sidebar */
    z-index: 1;
}

.sidebar-header h2 {
    margin: 5px;
    text-align: center; /* Center text inside the header */
    color: #5A67BA;
}

.sidebar-header .title {
    margin-bottom: 10px;
}

.sidebar-header .new-job-button {
    background-color: #5a67ba;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar-header .new-job-button:hover {
    background-color: #4b55a0;
}

.mainbar {
    flex: 1;
    overflow-y: auto;
}

.sidebar-content {
    padding-top: 20px
}

.job-details-container {
    padding: 40px;
    color: #1F384C;
}

.job-details-placeholder {
    padding: 20px;
    color: #1F384C;
}